<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.pinea.school.mapper.ArchivesMapper" >
  <resultMap id="BaseResultMap" type="club.pinea.school.model.Archives" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="home_address" property="homeAddress" jdbcType="VARCHAR" />
    <result column="tips" property="tips" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sid, home_address, tips
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from archives
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from archives
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="club.pinea.school.model.Archives" >
    insert into archives (id, sid, home_address, 
      tips)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{homeAddress,jdbcType=VARCHAR}, 
      #{tips,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="club.pinea.school.model.Archives" >
    insert into archives
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="homeAddress != null" >
        home_address,
      </if>
      <if test="tips != null" >
        tips,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="homeAddress != null" >
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        #{tips,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.pinea.school.model.Archives" >
    update archives
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="homeAddress != null" >
        home_address = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        tips = #{tips,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.pinea.school.model.Archives" >
    update archives
    set sid = #{sid,jdbcType=INTEGER},
      home_address = #{homeAddress,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryArchivesList" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT 
  		stu.id as id, 
  		stu.name as name, 
  		stu.gender as gender, 
  		clas.classname as classname, 
  		stu.nation as nation, 
  		stu.specialty as specialty, 	
		stu.birthday as birthday, 
		stu.start_school_day as start_school_day, 
		arch.home_address as home_address
	FROM 
		student stu 
	LEFT JOIN 
		classroom clas ON stu.class_id = clas.id
	LEFT JOIN 
		archives arch ON arch.sid = stu.id
	WHERE 1=1
	<if test="id != null and id != ''">
		AND id = #{id}
	</if>
	<if test="name != null and name != ''">
		AND name = #{name}
	</if>
	<if test="specialty != null and specialty != ''">
		AND specialty = #{specialty}
	</if>
	<if test="classname != null and classname != ''">
		AND clas.id = #{classname}
	</if>
  </select>
  
</mapper>